openapi: 3.0.1
info:
  title: common-platform-config-mgmt
  description: |
    Common Platform Config Management Core Application

    ## UUID Strategy

    This API uses UUIDs (Universally Unique Identifiers) for all entity primary keys and foreign key relationships. This design provides several benefits:

    - **Global Uniqueness**: UUIDs are globally unique, eliminating ID conflicts when merging data from different environments
    - **Distributed Systems Support**: No need for centralized sequence coordination across multiple database instances
    - **Enhanced Security**: Non-sequential IDs make it harder to guess valid identifiers
    - **Better Distribution**: UUIDs provide better distribution in sharded or partitioned databases

    ### ID Field Format

    All entity ID fields (primary keys and foreign keys) use the following format:
    - **Type**: `string`
    - **Format**: `uuid`
    - **Example**: `550e8400-e29b-41d4-a716-446655440000`

    ### Exception: Country IDs

    Country IDs are the only exception and use sequential integer identifiers for simplicity and performance in geographical lookups.

    ### API Usage

    When making API requests:
    - Always provide UUIDs in the standard format (8-4-4-4-12 hexadecimal digits)
    - The API will validate UUID format and return appropriate error messages for invalid UUIDs
    - All responses will include UUIDs in the standard string format
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/config
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: Provider Contract Statuses
    description: API for managing provider contract statuses
  - name: Provider Statuses
    description: API for managing provider statuses
  - name: Provider Types
    description: API for managing provider types
  - name: Providers
    description: API for managing providers and their configurations and processes
  - name: Provider Map Types
    description: API for managing provider map types
  - name: Provider Contract Mappings
    description: API for managing provider contract mappings
  - name: Provider Mappings
    description: API for managing provider mappings
  - name: Provider Process Statuses
    description: API for managing provider process statuses
  - name: Provider Contracts
    description: API for managing provider contracts
  - name: Provider Process Versions
    description: API for managing provider process versions
  - name: Provider Processes
    description: API for managing provider processes and their versions
  - name: Provider Mapping Statuses
    description: API for managing provider mapping statuses
paths:
  /api/v1/providers/{providerId}/processes/{id}:
    get:
      tags:
        - Providers
      summary: Get a process by ID for a provider
      description: Returns a process for a specific provider based on the ID
      operationId: getProviderProcessById
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the process to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
        '404':
          description: Process not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
    put:
      tags:
        - Providers
      summary: Update a process for a provider
      description: Updates a process for a specific provider and returns it
      operationId: updateProviderProcess
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the process to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProcessDTO'
        required: true
      responses:
        '200':
          description: Process updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
        '404':
          description: Process not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
    delete:
      tags:
        - Providers
      summary: Delete a process for a provider
      description: Deletes a process for a specific provider
      operationId: deleteProviderProcess
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the process to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Process deleted
        '404':
          description: Process not found
  /api/v1/providers/{providerId}/configs/{id}:
    get:
      tags:
        - Providers
      summary: Get a configuration by ID for a provider
      description: Returns a configuration for a specific provider based on the ID
      operationId: getProviderConfigById
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the configuration to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderConfigDTO'
        '404':
          description: Configuration not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderConfigDTO'
    put:
      tags:
        - Providers
      summary: Update a configuration for a provider
      description: Updates a configuration for a specific provider and returns it
      operationId: updateProviderConfig
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the configuration to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderConfigDTO'
        required: true
      responses:
        '200':
          description: Configuration updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderConfigDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderConfigDTO'
        '404':
          description: Configuration not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderConfigDTO'
    delete:
      tags:
        - Providers
      summary: Delete a configuration for a provider
      description: Deletes a configuration for a specific provider
      operationId: deleteProviderConfig
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the configuration to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Configuration deleted
        '404':
          description: Configuration not found
  /api/v1/providers/{id}:
    get:
      tags:
        - Providers
      summary: Get a provider by ID
      description: Returns a provider based on the ID
      operationId: getProviderById
      parameters:
        - name: id
          in: path
          description: ID of the provider to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '404':
          description: Provider not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
    put:
      tags:
        - Providers
      summary: Update an existing provider
      description: Updates an existing provider and returns it
      operationId: updateProvider
      parameters:
        - name: id
          in: path
          description: ID of the provider to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderDTO'
        required: true
      responses:
        '200':
          description: Provider updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '404':
          description: Provider not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
    delete:
      tags:
        - Providers
      summary: Delete a provider
      description: Deletes a provider
      operationId: deleteProvider
      parameters:
        - name: id
          in: path
          description: ID of the provider to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider deleted
        '404':
          description: Provider not found
  /api/v1/provider-types/{id}:
    get:
      tags:
        - Provider Types
      summary: Get a provider type by ID
      description: Returns a provider type based on the ID
      operationId: getProviderTypeById
      parameters:
        - name: id
          in: path
          description: ID of the provider type to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
        '404':
          description: Provider type not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
    put:
      tags:
        - Provider Types
      summary: Update an existing provider type
      description: Updates an existing provider type and returns it
      operationId: updateProviderType
      parameters:
        - name: id
          in: path
          description: ID of the provider type to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderTypeDTO'
        required: true
      responses:
        '200':
          description: Provider type updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
        '404':
          description: Provider type not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
    delete:
      tags:
        - Provider Types
      summary: Delete a provider type
      description: Deletes a provider type
      operationId: deleteProviderType
      parameters:
        - name: id
          in: path
          description: ID of the provider type to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider type deleted
        '404':
          description: Provider type not found
  /api/v1/provider-statuses/{id}:
    get:
      tags:
        - Provider Statuses
      summary: Get a provider status by ID
      description: Returns a provider status based on the ID
      operationId: getProviderStatusById
      parameters:
        - name: id
          in: path
          description: ID of the provider status to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
        '404':
          description: Provider status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
    put:
      tags:
        - Provider Statuses
      summary: Update an existing provider status
      description: Updates an existing provider status and returns it
      operationId: updateProviderStatus
      parameters:
        - name: id
          in: path
          description: ID of the provider status to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderStatusDTO'
        required: true
      responses:
        '200':
          description: Provider status updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
        '404':
          description: Provider status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
    delete:
      tags:
        - Provider Statuses
      summary: Delete a provider status
      description: Deletes a provider status
      operationId: deleteProviderStatus
      parameters:
        - name: id
          in: path
          description: ID of the provider status to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider status deleted
        '404':
          description: Provider status not found
  /api/v1/provider-process-statuses/{id}:
    get:
      tags:
        - Provider Process Statuses
      summary: Get a provider process status by ID
      description: Returns a provider process status based on the ID
      operationId: getProviderProcessStatusById
      parameters:
        - name: id
          in: path
          description: ID of the provider process status to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessStatusDTO'
        '404':
          description: Provider process status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessStatusDTO'
    put:
      tags:
        - Provider Process Statuses
      summary: Update an existing provider process status
      description: Updates an existing provider process status and returns it
      operationId: update
      parameters:
        - name: id
          in: path
          description: ID of the provider process status to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProcessStatusDTO'
        required: true
      responses:
        '200':
          description: Provider process status updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessStatusDTO'
        '404':
          description: Provider process status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessStatusDTO'
    delete:
      tags:
        - Provider Process Statuses
      summary: Delete a provider process status
      description: Deletes a provider process status
      operationId: delete
      parameters:
        - name: id
          in: path
          description: ID of the provider process status to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider process status deleted
        '404':
          description: Provider process status not found
  /api/v1/provider-mappings/{id}:
    get:
      tags:
        - Provider Mappings
      summary: Get a provider mapping by ID
      description: Returns a provider mapping based on the ID
      operationId: getProviderMappingById
      parameters:
        - name: id
          in: path
          description: ID of the provider mapping to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingDTO'
        '404':
          description: Provider mapping not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingDTO'
    put:
      tags:
        - Provider Mappings
      summary: Update an existing provider mapping
      description: Updates an existing provider mapping and returns it
      operationId: updateProviderMapping
      parameters:
        - name: id
          in: path
          description: ID of the provider mapping to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderMappingDTO'
        required: true
      responses:
        '200':
          description: Provider mapping updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingDTO'
        '404':
          description: Provider mapping not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingDTO'
    delete:
      tags:
        - Provider Mappings
      summary: Delete a provider mapping
      description: Deletes a provider mapping
      operationId: deleteProviderMapping
      parameters:
        - name: id
          in: path
          description: ID of the provider mapping to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider mapping deleted
        '404':
          description: Provider mapping not found
  /api/v1/provider-mapping-statuses/{id}:
    get:
      tags:
        - Provider Mapping Statuses
      summary: Get a provider mapping status by ID
      description: Returns a provider mapping status based on the ID
      operationId: getProviderMappingStatusById
      parameters:
        - name: id
          in: path
          description: ID of the provider mapping status to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingStatusDTO'
        '404':
          description: Provider mapping status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingStatusDTO'
    put:
      tags:
        - Provider Mapping Statuses
      summary: Update an existing provider mapping status
      description: Updates an existing provider mapping status and returns it
      operationId: updateProviderMappingStatus
      parameters:
        - name: id
          in: path
          description: ID of the provider mapping status to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderMappingStatusDTO'
        required: true
      responses:
        '200':
          description: Provider mapping status updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingStatusDTO'
        '404':
          description: Provider mapping status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingStatusDTO'
    delete:
      tags:
        - Provider Mapping Statuses
      summary: Delete a provider mapping status
      description: Deletes a provider mapping status
      operationId: deleteProviderMappingStatus
      parameters:
        - name: id
          in: path
          description: ID of the provider mapping status to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider mapping status deleted
        '404':
          description: Provider mapping status not found
  /api/v1/provider-map-types/{id}:
    get:
      tags:
        - Provider Map Types
      summary: Get a provider map type by ID
      description: Returns a provider map type based on the ID
      operationId: getProviderMapTypeById
      parameters:
        - name: id
          in: path
          description: ID of the provider map type to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMapTypeDTO'
        '404':
          description: Provider map type not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMapTypeDTO'
    put:
      tags:
        - Provider Map Types
      summary: Update an existing provider map type
      description: Updates an existing provider map type and returns it
      operationId: updateProviderMapType
      parameters:
        - name: id
          in: path
          description: ID of the provider map type to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderMapTypeDTO'
        required: true
      responses:
        '200':
          description: Provider map type updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMapTypeDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMapTypeDTO'
        '404':
          description: Provider map type not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMapTypeDTO'
    delete:
      tags:
        - Provider Map Types
      summary: Delete a provider map type
      description: Deletes a provider map type
      operationId: deleteProviderMapType
      parameters:
        - name: id
          in: path
          description: ID of the provider map type to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider map type deleted
        '404':
          description: Provider map type not found
  /api/v1/provider-contracts/{id}:
    get:
      tags:
        - Provider Contracts
      summary: Get a provider contract by ID
      description: Returns a provider contract based on the ID
      operationId: getProviderContractById
      parameters:
        - name: id
          in: path
          description: ID of the provider contract to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractDTO'
        '404':
          description: Provider contract not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractDTO'
    put:
      tags:
        - Provider Contracts
      summary: Update an existing provider contract
      description: Updates an existing provider contract and returns it
      operationId: updateProviderContract
      parameters:
        - name: id
          in: path
          description: ID of the provider contract to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderContractDTO'
        required: true
      responses:
        '200':
          description: Provider contract updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractDTO'
        '404':
          description: Provider contract not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractDTO'
    delete:
      tags:
        - Provider Contracts
      summary: Delete a provider contract
      description: Deletes a provider contract
      operationId: deleteProviderContract
      parameters:
        - name: id
          in: path
          description: ID of the provider contract to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider contract deleted
        '404':
          description: Provider contract not found
  /api/v1/provider-contract-statuses/{id}:
    get:
      tags:
        - Provider Contract Statuses
      summary: Get a provider contract status by ID
      description: Returns a provider contract status based on the ID
      operationId: getProviderContractStatusById
      parameters:
        - name: id
          in: path
          description: ID of the provider contract status to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractStatusDTO'
        '404':
          description: Provider contract status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractStatusDTO'
    put:
      tags:
        - Provider Contract Statuses
      summary: Update an existing provider contract status
      description: Updates an existing provider contract status and returns it
      operationId: updateProviderContractStatus
      parameters:
        - name: id
          in: path
          description: ID of the provider contract status to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderContractStatusDTO'
        required: true
      responses:
        '200':
          description: Provider contract status updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractStatusDTO'
        '404':
          description: Provider contract status not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractStatusDTO'
    delete:
      tags:
        - Provider Contract Statuses
      summary: Delete a provider contract status
      description: Deletes a provider contract status
      operationId: deleteProviderContractStatus
      parameters:
        - name: id
          in: path
          description: ID of the provider contract status to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider contract status deleted
        '404':
          description: Provider contract status not found
  /api/v1/provider-contract-mappings/{id}:
    get:
      tags:
        - Provider Contract Mappings
      summary: Get a provider contract mapping by ID
      description: Returns a provider contract mapping based on the ID
      operationId: getProviderContractMappingById
      parameters:
        - name: id
          in: path
          description: ID of the provider contract mapping to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractMappingDTO'
        '404':
          description: Provider contract mapping not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractMappingDTO'
    put:
      tags:
        - Provider Contract Mappings
      summary: Update an existing provider contract mapping
      description: Updates an existing provider contract mapping and returns it
      operationId: updateProviderContractMapping
      parameters:
        - name: id
          in: path
          description: ID of the provider contract mapping to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderContractMappingDTO'
        required: true
      responses:
        '200':
          description: Provider contract mapping updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractMappingDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractMappingDTO'
        '404':
          description: Provider contract mapping not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderContractMappingDTO'
    delete:
      tags:
        - Provider Contract Mappings
      summary: Delete a provider contract mapping
      description: Deletes a provider contract mapping
      operationId: deleteProviderContractMapping
      parameters:
        - name: id
          in: path
          description: ID of the provider contract mapping to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider contract mapping deleted
        '404':
          description: Provider contract mapping not found
  /api/v1/processes/{processId}/versions/{id}:
    get:
      tags:
        - Provider Processes
      summary: Get a version by ID for a process
      description: Returns a version for a specific process based on the ID
      operationId: getProviderProcessVersionById
      parameters:
        - name: processId
          in: path
          description: ID of the process
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the version to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
        '404':
          description: Version not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
    put:
      tags:
        - Provider Processes
      summary: Update a version for a process
      description: Updates a version for a specific process and returns it
      operationId: updateProviderProcessVersion
      parameters:
        - name: processId
          in: path
          description: ID of the process
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the version to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProcessVersionDTO'
        required: true
      responses:
        '200':
          description: Version updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
        '404':
          description: Version not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
    delete:
      tags:
        - Provider Processes
      summary: Delete a version for a process
      description: Deletes a version for a specific process
      operationId: deleteProviderProcessVersion
      parameters:
        - name: processId
          in: path
          description: ID of the process
          required: true
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          description: ID of the version to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Version deleted
        '404':
          description: Version not found
  /api/v1/processes/{id}:
    get:
      tags:
        - Provider Processes
      summary: Get a provider process by ID
      description: Returns a provider process based on the ID
      operationId: getProviderProcessById_1
      parameters:
        - name: id
          in: path
          description: ID of the provider process to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
        '404':
          description: Provider process not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
    put:
      tags:
        - Provider Processes
      summary: Update an existing provider process
      description: Updates an existing provider process and returns it
      operationId: updateProviderProcess_1
      parameters:
        - name: id
          in: path
          description: ID of the provider process to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProcessDTO'
        required: true
      responses:
        '200':
          description: Provider process updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
        '404':
          description: Provider process not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
    delete:
      tags:
        - Provider Processes
      summary: Delete a provider process
      description: Deletes a provider process
      operationId: deleteProviderProcess_1
      parameters:
        - name: id
          in: path
          description: ID of the provider process to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider process deleted
        '404':
          description: Provider process not found
  /api/v1/process-versions/{id}:
    get:
      tags:
        - Provider Process Versions
      summary: Get a provider process version by ID
      description: Returns a provider process version based on the ID
      operationId: getProviderProcessVersionById_1
      parameters:
        - name: id
          in: path
          description: ID of the provider process version to retrieve
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
        '404':
          description: Provider process version not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
    put:
      tags:
        - Provider Process Versions
      summary: Update an existing provider process version
      description: Updates an existing provider process version and returns it
      operationId: updateProviderProcessVersion_1
      parameters:
        - name: id
          in: path
          description: ID of the provider process version to update
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProcessVersionDTO'
        required: true
      responses:
        '200':
          description: Provider process version updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
        '404':
          description: Provider process version not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessVersionDTO'
    delete:
      tags:
        - Provider Process Versions
      summary: Delete a provider process version
      description: Deletes a provider process version
      operationId: deleteProviderProcessVersion_1
      parameters:
        - name: id
          in: path
          description: ID of the provider process version to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Provider process version deleted
        '404':
          description: Provider process version not found
  /api/v1/providers:
    post:
      tags:
        - Providers
      summary: Create a new provider
      description: Creates a new provider and returns it
      operationId: createProvider
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderDTO'
        required: true
      responses:
        '201':
          description: Provider created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderDTO'
  /api/v1/providers/{providerId}/processes:
    post:
      tags:
        - Providers
      summary: Create a new process for a provider
      description: Creates a new process for a specific provider and returns it
      operationId: createProviderProcess
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProcessDTO'
        required: true
      responses:
        '201':
          description: Process created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
        '404':
          description: Provider not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessDTO'
  /api/v1/providers/{providerId}/processes/filter:
    post:
      tags:
        - Providers
      summary: Filter processes for a provider
      description: Returns a filtered list of processes for a specific provider
      operationId: filterProviderProcesses
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProviderProcessDTO'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderProcessDTO'
  /api/v1/providers/{providerId}/configs:
    post:
      tags:
        - Providers
      summary: Create a new configuration for a provider
      description: Creates a new configuration for a specific provider and returns it
      operationId: createProviderConfig
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderConfigDTO'
        required: true
      responses:
        '201':
          description: Configuration created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderConfigDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderConfigDTO'
        '404':
          description: Provider not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderConfigDTO'
  /api/v1/providers/{providerId}/configs/filter:
    post:
      tags:
        - Providers
      summary: Filter configurations for a provider
      description: Returns a filtered list of configurations for a specific provider
      operationId: filterProviderConfigs
      parameters:
        - name: providerId
          in: path
          description: ID of the provider
          required: true
          schema:
            type: string
            format: uuid
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.providerId
          in: query
          description: Exact filter for provider id
          required: false
          schema:
            type: string
        - name: filters.provider
          in: query
          description: Exact filter for provider
          required: false
          schema:
            type: string
        - name: filters.configGroup
          in: query
          description: Exact filter for config group
          required: false
          schema:
            type: string
        - name: filters.key
          in: query
          description: Exact filter for key
          required: false
          schema:
            type: string
        - name: filters.value
          in: query
          description: Exact filter for value
          required: false
          schema:
            type: string
        - name: filters.valueType
          in: query
          description: Exact filter for value type
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.isSecret
          in: query
          description: Exact filter for is secret
          required: false
          schema:
            type: boolean
        - name: filters.isRequired
          in: query
          description: Exact filter for is required
          required: false
          schema:
            type: boolean
        - name: filters.isEditable
          in: query
          description: Exact filter for is editable
          required: false
          schema:
            type: boolean
        - name: filters.validationRegex
          in: query
          description: Exact filter for validation regex
          required: false
          schema:
            type: string
        - name: filters.defaultValue
          in: query
          description: Exact filter for default value
          required: false
          schema:
            type: string
        - name: filters.environment
          in: query
          description: Exact filter for environment
          required: false
          schema:
            type: string
        - name: filters.expirationDate
          in: query
          description: Exact filter for expiration date
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[expirationDate].from
          in: query
          description: Filter expiration date from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[expirationDate].to
          in: query
          description: Filter expiration date to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.tags
          in: query
          description: Exact filter for tags
          required: false
          schema:
            type: string
        - name: filters.metadata
          in: query
          description: Exact filter for metadata
          required: false
          schema:
            type: string
        - name: filters.orderIndex
          in: query
          description: Exact filter for order index
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[orderIndex].from
          in: query
          description: Filter order index from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[orderIndex].to
          in: query
          description: Filter order index to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.active
          in: query
          description: Exact filter for active
          required: false
          schema:
            type: boolean
        - name: filters.version
          in: query
          description: Exact filter for version
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].from
          in: query
          description: Filter version from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].to
          in: query
          description: Filter version to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderConfigDTO'
  /api/v1/providers/filter:
    post:
      tags:
        - Providers
      summary: Filter providers
      description: Returns a filtered list of providers based on criteria
      operationId: filterProviders
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.code
          in: query
          description: Exact filter for code
          required: false
          schema:
            type: string
        - name: filters.name
          in: query
          description: Exact filter for name
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.providerTypeId
          in: query
          description: Exact filter for provider type id
          required: false
          schema:
            type: string
        - name: filters.providerType
          in: query
          description: Exact filter for provider type
          required: false
          schema:
            type: string
        - name: filters.providerStatusId
          in: query
          description: Exact filter for provider status id
          required: false
          schema:
            type: string
        - name: filters.providerStatus
          in: query
          description: Exact filter for provider status
          required: false
          schema:
            type: string
        - name: filters.apiBaseUrl
          in: query
          description: Exact filter for api base url
          required: false
          schema:
            type: string
        - name: filters.webhookUrl
          in: query
          description: Exact filter for webhook url
          required: false
          schema:
            type: string
        - name: filters.callbackUrl
          in: query
          description: Exact filter for callback url
          required: false
          schema:
            type: string
        - name: filters.logoUrl
          in: query
          description: Exact filter for logo url
          required: false
          schema:
            type: string
        - name: filters.documentationUrl
          in: query
          description: Exact filter for documentation url
          required: false
          schema:
            type: string
        - name: filters.supportUrl
          in: query
          description: Exact filter for support url
          required: false
          schema:
            type: string
        - name: filters.contactName
          in: query
          description: Exact filter for contact name
          required: false
          schema:
            type: string
        - name: filters.contactEmail
          in: query
          description: Exact filter for contact email
          required: false
          schema:
            type: string
        - name: filters.contactPhone
          in: query
          description: Exact filter for contact phone
          required: false
          schema:
            type: string
        - name: filters.technicalContactName
          in: query
          description: Exact filter for technical contact name
          required: false
          schema:
            type: string
        - name: filters.technicalContactEmail
          in: query
          description: Exact filter for technical contact email
          required: false
          schema:
            type: string
        - name: filters.technicalContactPhone
          in: query
          description: Exact filter for technical contact phone
          required: false
          schema:
            type: string
        - name: filters.region
          in: query
          description: Exact filter for region
          required: false
          schema:
            type: string
        - name: filters.timezone
          in: query
          description: Exact filter for timezone
          required: false
          schema:
            type: string
        - name: filters.currencyCode
          in: query
          description: Exact filter for currency code
          required: false
          schema:
            type: string
        - name: filters.maxRequestsPerSecond
          in: query
          description: Exact filter for max requests per second
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxRequestsPerSecond].from
          in: query
          description: Filter max requests per second from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxRequestsPerSecond].to
          in: query
          description: Filter max requests per second to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.maxConcurrentRequests
          in: query
          description: Exact filter for max concurrent requests
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxConcurrentRequests].from
          in: query
          description: Filter max concurrent requests from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[maxConcurrentRequests].to
          in: query
          description: Filter max concurrent requests to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.requiresAuthentication
          in: query
          description: Exact filter for requires authentication
          required: false
          schema:
            type: boolean
        - name: filters.authenticationType
          in: query
          description: Exact filter for authentication type
          required: false
          schema:
            type: string
        - name: filters.supportsWebhooks
          in: query
          description: Exact filter for supports webhooks
          required: false
          schema:
            type: boolean
        - name: filters.supportsCallbacks
          in: query
          description: Exact filter for supports callbacks
          required: false
          schema:
            type: boolean
        - name: filters.supportsPolling
          in: query
          description: Exact filter for supports polling
          required: false
          schema:
            type: boolean
        - name: filters.pollingIntervalSeconds
          in: query
          description: Exact filter for polling interval seconds
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[pollingIntervalSeconds].from
          in: query
          description: Filter polling interval seconds from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[pollingIntervalSeconds].to
          in: query
          description: Filter polling interval seconds to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.active
          in: query
          description: Exact filter for active
          required: false
          schema:
            type: boolean
        - name: filters.version
          in: query
          description: Exact filter for version
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].from
          in: query
          description: Filter version from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].to
          in: query
          description: Filter version to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderDTO'
  /api/v1/provider-types:
    post:
      tags:
        - Provider Types
      summary: Create a new provider type
      description: Creates a new provider type and returns it
      operationId: createProviderType
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderTypeDTO'
        required: true
      responses:
        '201':
          description: Provider type created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderTypeDTO'
  /api/v1/provider-types/filter:
    post:
      tags:
        - Provider Types
      summary: Filter provider types
      description: Returns a filtered list of provider types based on criteria
      operationId: filterProviderTypes
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.code
          in: query
          description: Exact filter for code
          required: false
          schema:
            type: string
        - name: filters.name
          in: query
          description: Exact filter for name
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.active
          in: query
          description: Exact filter for active
          required: false
          schema:
            type: boolean
        - name: filters.version
          in: query
          description: Exact filter for version
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].from
          in: query
          description: Filter version from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].to
          in: query
          description: Filter version to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderTypeDTO'
  /api/v1/provider-statuses:
    post:
      tags:
        - Provider Statuses
      summary: Create a new provider status
      description: Creates a new provider status and returns it
      operationId: createProviderStatus
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderStatusDTO'
        required: true
      responses:
        '201':
          description: Provider status created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderStatusDTO'
  /api/v1/provider-statuses/filter:
    post:
      tags:
        - Provider Statuses
      summary: Filter provider statuses
      description: Returns a filtered list of provider statuses based on criteria
      operationId: filterProviderStatuses
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.code
          in: query
          description: Exact filter for code
          required: false
          schema:
            type: string
        - name: filters.name
          in: query
          description: Exact filter for name
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.active
          in: query
          description: Exact filter for active
          required: false
          schema:
            type: boolean
        - name: filters.version
          in: query
          description: Exact filter for version
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].from
          in: query
          description: Filter version from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].to
          in: query
          description: Filter version to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderStatusDTO'
  /api/v1/provider-process-statuses:
    post:
      tags:
        - Provider Process Statuses
      summary: Create a new provider process status
      description: Creates a new provider process status and returns it
      operationId: createProviderProcessStatus
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderProcessStatusDTO'
        required: true
      responses:
        '201':
          description: Provider process status created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderProcessStatusDTO'
  /api/v1/provider-process-statuses/filter:
    post:
      tags:
        - Provider Process Statuses
      summary: Filter provider process statuses
      description: Returns a filtered list of provider process statuses based on criteria
      operationId: filterProviderProcessStatuses
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.code
          in: query
          description: Exact filter for code
          required: false
          schema:
            type: string
        - name: filters.name
          in: query
          description: Exact filter for name
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.active
          in: query
          description: Exact filter for active
          required: false
          schema:
            type: boolean
        - name: filters.version
          in: query
          description: Exact filter for version
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].from
          in: query
          description: Filter version from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].to
          in: query
          description: Filter version to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderProcessStatusDTO'
  /api/v1/provider-mappings:
    post:
      tags:
        - Provider Mappings
      summary: Create a new provider mapping
      description: Creates a new provider mapping and returns it
      operationId: createProviderMapping
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderMappingDTO'
        required: true
      responses:
        '201':
          description: Provider mapping created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingDTO'
  /api/v1/provider-mappings/filter:
    post:
      tags:
        - Provider Mappings
      summary: Filter provider mappings
      description: Returns a filtered list of provider mappings based on criteria
      operationId: filterProviderMappings
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.providerMapTypeId
          in: query
          description: Exact filter for provider map type id
          required: false
          schema:
            type: string
        - name: filters.providerMapType
          in: query
          description: Exact filter for provider map type
          required: false
          schema:
            type: string
        - name: filters.providerId
          in: query
          description: Exact filter for provider id
          required: false
          schema:
            type: string
        - name: filters.provider
          in: query
          description: Exact filter for provider
          required: false
          schema:
            type: string
        - name: filters.internalProviderId
          in: query
          description: Exact filter for internal provider id
          required: false
          schema:
            type: string
        - name: filters.internalProvider
          in: query
          description: Exact filter for internal provider
          required: false
          schema:
            type: string
        - name: filters.active
          in: query
          description: Exact filter for active
          required: false
          schema:
            type: boolean
        - name: filters.version
          in: query
          description: Exact filter for version
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].from
          in: query
          description: Filter version from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].to
          in: query
          description: Filter version to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProviderMappingDTO'
  /api/v1/provider-mapping-statuses:
    post:
      tags:
        - Provider Mapping Statuses
      summary: Create a new provider mapping status
      description: Creates a new provider mapping status and returns it
      operationId: createProviderMappingStatus
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderMappingStatusDTO'
        required: true
      responses:
        '201':
          description: Provider mapping status created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingStatusDTO'
        '400':
          description: Invalid input
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProviderMappingStatusDTO'
  /api/v1/provider-mapping-statuses/filter:
    post:
      tags:
        - Provider Mapping Statuses
      summary: Filter provider mapping statuses
      description: Returns a filtered list of provider mapping statuses based on criteria
      operationId: filterProviderMappingStatuses
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.code
          in: query
          description: Exact filter for code
          required: false
          schema:
            type: string
        - name: filters.name
          in: query
          description: Exact filter for name
          required: false
          schema:
            type: string
        - name: filters.description
          in: query
          description: Exact filter for description
          required: false
          schema:
            type: string
        - name: filters.active
          in: query
          description: Exact filter for active
          required: false
          schema:
            type: boolean
        - name: filters.version
          in: query
          description: Exact filter for version
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].from
          in: query
          description: Filter version from value
          required: false
          schema:
            type: integer
            format: int32
        - name: rangeFilters.ranges[version].to
          in: query
          description: Filter version to value
          required: false
          schema:
            type: integer
            format: int32
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
[...]
